In [1]:
import pandas as pd
import shapefile
import shapely

First we need the parcel data...

In [4]:
polygons_sf = shapefile.Reader("/Users/damoncrockett/Desktop/FISP/SanGIS/Parcels/PARCELS.shp")
polygon_shapes = polygons_sf.shapes()
polygon_points = [q.points for q in polygon_shapes]
from shapely.geometry import Polygon, Point
polygons = [Polygon(q) for q in polygon_points]

In [6]:
len(polygons)

1056464

These are all the parcels in the county.

In [7]:
records = polygons_sf.records()

In [17]:
cities = []

for record in records:
    cities.append(record[21])

In [24]:
from collections import Counter
pd.DataFrame(Counter(cities).items()).sort([1],ascending=False).head()

              0       1
19    SAN DIEGO  360341
67    ESCONDIDO   76938
12     CARLSBAD   75026
72  CHULA VISTA   64232
55    OCEANSIDE   60425

In [25]:
sd = []
for record in records:
    if record[21]=='SAN DIEGO':
        sd.append(record)

In [29]:
for record in records[:5]:
    print record[21]

POWAY
SAN DIEGO
SOLANA BEACH
CHULA VISTA
SAN DIEGO

In [32]:
lot = polygons[1]

In [33]:
lot

In [35]:
print lot.centroid

POINT (6301295.145167537 1881270.693134048)

Crap. These are state plane coordinates (northing and easting, in feet), not lat longs. Converting is nontrivial and subject to error. These coordinates are NAD83, CA zone 6 (0406).

But they'd need to be converted to web-mercator geodedtic lat longs (since that's what Google uses), and I'm not 100% sure how to do that without error. And in fact, even if we had that, for, say, the parcel centroids, Google would have to snap to the nearest lat long ON THE STREET.

This is crucial: Ideally, I think, maybe we should have the panoramic view from the parcel centroid, but GSV cannot provide that, since it only gives views from the street. Instead, I think we should use the 'curb' view of each parcel. Maybe we can pan a bit left and right, or yaw a bit up and down, but I can't think of a better way to get the visual aspect of a parcel.

Let's see how many parcels have street addresses.

In [2]:
from pandas.io import sql
from sqlalchemy import create_engine

In [3]:
engine = create_engine('sqlite:////Users/damoncrockett/Dropbox/thinkpad_desktop_2/assessor-db/parcels.geodb')

In [4]:
dd = sql.read_sql("SELECT * FROM parcels", engine)

In [5]:
dd = dd[dd.situs_juri=='SD']

In [6]:
dd.reset_index(drop=True,inplace=True)

In [7]:
l = list(dd.columns[dd.columns.str.contains('situs')])

In [8]:
addr = dd[l]

In [9]:
import numpy as np

In [10]:
np.mean(addr.situs_addr==0)

0.038490124037155994

In [11]:
np.mean(addr.situs_addr.map(lambda x:isinstance(x, (int, long))))

1.0

Okay so we lose maybe 4% of parcels in San Diego---not bad. Now let's build some full addresses to pass as parameters in our GSV API calls.

In [12]:
addr = addr[addr.situs_addr!=0]
addr.reset_index(drop=True,inplace=True)

In [13]:
addr.head()

,situs_juri,situs_stre,situs_suff,situs_post,situs_pre_,situs_addr,situs_frac,situs_buil,situs_suit,situs_comm,situs_zip
0,SD,GRAVILLA,PL,None,None,657,None,None,None,None,92037-6131
1,SD,EADS,AVE,None,None,7550,None,None,408,None,92037-4812
2,SD,EADS,AVE,None,None,7560,None,None,02,None,92037-4882
3,SD,AVENIDA CHAMNEZ,None,None,None,6092,None,None,None,None,92037-7403
4,SD,GRAVILLA,PL,None,None,633,None,None,None,None,92037-6131

In [14]:
np.mean(addr.isnull())

situs_juri    0.000000
situs_stre    0.000000
situs_suff    0.114608
situs_post    0.994980
situs_pre_    0.969616
situs_addr    0.000000
situs_frac    0.998771
situs_buil    1.000000
situs_suit    0.770756
situs_comm    1.000000
situs_zip     0.010308
dtype: float64

In [15]:
del addr['situs_buil']
del addr['situs_comm']

In [16]:
addr[addr.situs_post.notnull()].head()

,situs_juri,situs_stre,situs_suff,situs_post,situs_pre_,situs_addr,situs_frac,situs_suit,situs_zip
468,SD,LAUREL,ST,W,None,979,None,None,92101-1224
469,SD,LAUREL,ST,W,None,985,None,None,92101-1224
622,SD,HOTEL,CIR,S,None,1605,None,B116,92108-3327
623,SD,HOTEL,CIR,S,None,1621,None,E315,92108-3342
624,SD,HOTEL,CIR,S,None,1621,None,E320,92108-3342

In [17]:
addr[addr.situs_pre_.notnull()].head()

,situs_juri,situs_stre,situs_suff,situs_post,situs_pre_,situs_addr,situs_frac,situs_suit,situs_zip
67,SD,33RD,ST,None,S,128,1/2,None,92113-1562
72,SD,WILLIE JAMES JONES,AVE,None,N,202,None,None,92102-5000
76,SD,35TH,ST,None,S,303,None,None,92113-1607
77,SD,35TH,ST,None,S,327,None,None,92113-1607
78,SD,32ND,ST,None,S,115,None,None,92113-1416

In [18]:
addr[addr.situs_suit.notnull()].head()

,situs_juri,situs_stre,situs_suff,situs_post,situs_pre_,situs_addr,situs_frac,situs_suit,situs_zip
1,SD,EADS,AVE,None,None,7550,None,408,92037-4812
2,SD,EADS,AVE,None,None,7560,None,02,92037-4882
6,SD,GENTER,ST,None,None,1001,None,6H,92037-5526
7,SD,GENTER,ST,None,None,1001,None,7A,92037-5526
15,SD,ADOBE FALLS,RD,None,None,5747,None,B,92120-4670

In [21]:
addresses = []
for i in range(50):
    if addr.situs_addr.loc[i]!=None:
        a = str(addr.situs_addr.loc[i])
    else:
        a = ''
    if addr.situs_pre_.loc[i]!=None:
        b = addr.situs_pre_.loc[i]
    else:
        b = ''
    if addr.situs_stre.loc[i]!=None:
        c = addr.situs_stre.loc[i]
    else:
        c = ''
    if addr.situs_suff.loc[i]!=None:
        d = addr.situs_suff.loc[i]
    else:
        d = ''
    if addr.situs_post.loc[i]!=None:
        e = addr.situs_post.loc[i]
    else:
        e = ''
    if addr.situs_frac.loc[i]!=None:
        f = addr.situs_frac.loc[i]
    else:
        f = ''
    g = 'SAN DIEGO'
    if addr.situs_zip.loc[i]!=None:
        h = str(addr.situs_zip.loc[i])
    else:
        h = ''
    tmp = a+' '+b+' '+c+' '+d+' '+e+' '+f+' '+g+' '+h
    addresses.append(tmp)

In [22]:
addresses

[u'657  GRAVILLA PL   SAN DIEGO 92037-6131',
 u'7550  EADS AVE   SAN DIEGO 92037-4812',
 u'7560  EADS AVE   SAN DIEGO 92037-4882',
 u'6092  AVENIDA CHAMNEZ    SAN DIEGO 92037-7403',
 u'633  GRAVILLA PL   SAN DIEGO 92037-6131',
 u'655  GRAVILLA PL   SAN DIEGO 92037-6131',
 u'1001  GENTER ST   SAN DIEGO 92037-5526',
 u'1001  GENTER ST   SAN DIEGO 92037-5526',
 u'321  COAST BLVD   SAN DIEGO 92037-4628',
 u'7510  CLAIREMONT MESA BLVD   SAN DIEGO 92111-1539',
 u'8075  BALBOA AVE   SAN DIEGO 92111-2416',
 u'8929  IDYLLWILD LN   SAN DIEGO 92119-2111',
 u'4891  ELSA RD   SAN DIEGO 92120-4221',
 u'4901  ELSA RD   SAN DIEGO 92120-4212',
 u'5778  THETA PL   SAN DIEGO 92120-4644',
 u'5747  ADOBE FALLS RD   SAN DIEGO 92120-4670',
 u'8905  IDYLLWILD LN   SAN DIEGO 92119-2111',
 u'5942  QUIET SLOPE DR   SAN DIEGO 92120-2021',
 u'8662  WARMWELL DR   SAN DIEGO 92119-1425',
 u'6665  MISSION GORGE RD   SAN DIEGO 92120-2316',
 u'7920  ENGINEER RD   SAN DIEGO 92111-1904',
 u'7976  ENGINEER RD   SAN DIEGO 92111-1935',
 u'7905  ENGINEER RD   SAN DIEGO 92111-1903',
 u'4481  CHAMPLAIN WAY   SAN DIEGO 92117-1912',
 u'7447  BARKER WAY   SAN DIEGO 92119-1323',
 u'8079  LAKE CAYUGA DR   SAN DIEGO 92119-3140',
 u'4818  LEHRER DR   SAN DIEGO 92117-1360',
 u'6442  LAKE BADIN AVE   SAN DIEGO 92119-3123',
 u'5972  QUIET SLOPE DR   SAN DIEGO 92120-2021',
 u'5930  QUIET SLOPE DR   SAN DIEGO 92120-2021',
 u'8682  WARMWELL DR   SAN DIEGO 92119-1425',
 u'6635  RENKRIB AVE   SAN DIEGO 92119-1815',
 u'6604  ESTRELLA AVE   SAN DIEGO 92120-1009',
 u'6844  ESTRELLA AVE   SAN DIEGO 92120-1013',
 u'5955  ARBOLES ST   SAN DIEGO 92120-3701',
 u'6195  LAMBDA DR   SAN DIEGO 92120-4615',
 u'6102  DEL CERRO BLVD   SAN DIEGO 92120-4602',
 u'6101  DEL CERRO BLVD   SAN DIEGO 92120-4601',
 u'6164  WENRICH DR   SAN DIEGO 92120-3719',
 u'643  FERN GLN   SAN DIEGO 92037-5419',
 u'5152  REBEL RD   SAN DIEGO 92117-1221',
 u'6658  AVENIDA ANDORRA    SAN DIEGO 92037-6402',
 u'6688  AVENIDA ANDORRA    SAN DIEGO 92037-6402',
 u'535  GENTER ST   SAN DIEGO 92037-5421',
 u'1275  VIRGINIA WAY   SAN DIEGO 92037-5231',
 u'1221  OLIVET ST   SAN DIEGO 92037-5241',
 u'6652  AVENIDA MANANA    SAN DIEGO 92037-6228',
 u'4858  MERCURY ST   SAN DIEGO 92111-2132',
 u'1865  NAUTILUS ST   SAN DIEGO 92037-6416',
 u'4169  LOCHLOMOND ST   SAN DIEGO 92111-3625']

In [25]:
import requests
import shutil

BASEPATH = "/Users/damoncrockett/Desktop/FISP/GSV/zoom/"
BASEURL = "https://maps.googleapis.com/maps/api/streetview?"
KEY= <redacted>
SIZE="size=640x640&"

In [26]:
fovs = [20,30,45,50,60,70,80]

In [27]:
counter = -1
for address in addresses:
    for fov in fovs:
        loc_param = address
        filestring = address
        path = BASEPATH+str(fov)+"/"+filestring+".jpg"
        try:
            r = requests.get(BASEURL+KEY+SIZE+"fov="+str(fov)+"&"+"location="+loc_param,stream=True)
            if r.status_code == 200:
                with open(path, 'wb') as f:
                    r.raw.decode_content = True
                    shutil.copyfileobj(r.raw, f)
        except:
            print 'err'